@media (max-width: 488px) {
  nav {
    flex-direction: column;
    gap: 10px;
    background: #dbdbdb;
  }
  .navItems {
    flex-direction: column;
    gap: 10px;
    color: #fff;
  }
  .navItems ul {
    gap: 15px;
    color: #fff;
    border: 1px solid;
  }
  .navItems ul li a {
    font-size: 13px;
  }
}
