@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
}
.image a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 900;
}
.image a img {
  width: 16%;
}
.navItems {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navItems ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.navItems ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.navItems ul li a:hover {
  transform: scale(1.05);
  color: #ebd96b;
  transition: 1s ease-in-out;
}
.navItems button {
  border: 0;
  background: #000;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
}
.navItems button:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
  color: #000;
  background: rgb(137, 136, 136);
}
