@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
}
.image a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 900;
}
.image a img {
  width: 16%;
}
.navItems {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navItems ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.navItems ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.navItems ul li a:hover {
  transform: scale(1.05);
  color: #ebd96b;
  font-style: italic;
  border: 1px solid #000;
  transition: 1s ease-in-out;
}
.navItems button {
  border: 0;
  background: #000;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
}
.navItems button:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
  color: #000;
  background: rgb(137, 136, 136);
}
.welcome {
  font-size: 30px;
  font-weight: 900;
  font-style: oblique;
}
.firstPageCont {
  padding: 20px 40px;
}
.FirstPage {
  display: flex;
  flex: 1;
  width: 100%;
  height: 90vh;
  padding: 40px 10px 0px 10px;
  border-radius: 30px;
  background: #f4f6f5;
}
.txtCont {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  gap: 10px;
  padding-left: 40px;
}

.txtCont h1 {
  font-size: 64px;
  font-weight: 900;
  width: 50%;
  line-height: 75px;
}

.txtCont p {
  font-size: 20px;
}
.txtBtn {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  gap: 10px;
}
.btns {
  border: 0;
  background: #000;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 19px;
}
.btns:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
  color: #000;
  background: rgb(137, 136, 136);
}
.txtBtn img {
  width: 100px;
}
.imgCont {
  flex: 0.5;
  display: flex;
  position: relative;
}
.star1 {
  position: absolute;
  top: 5px;
  left: 10px;
}
.star1 img {
  width: 30px;
}
.star2 {
  position: absolute;
  top: 20px;
  left: 450px;
}
.star2 img {
  width: 30px;
}
.star3 {
  position: absolute;
  bottom: 10px;
  left: 70px;
}
.star3 img {
  width: 30px;
}
.star4 {
  position: absolute;
  bottom: 20px;
  left: 400px;
}
.star4 img {
  width: 30px;
}
.spn1 {
  display: flex;
  align-items: center;
  background-image: url(/Assets/Pics/rectangle1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 20px;
}
.spn2 {
  background-image: url(/Assets/Pics/Rectangle2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 50px;
  padding-left: 20px;
}
/* next Page */
.firstPageFooter {
  background: #ebd96b;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoCont {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.logoCont img {
  width: 7%;
}
.nextPageCont {
  margin-top: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-bottom: 50px;
}
.nextPageText {
  position: relative;
}
.nextPageText h1 {
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: 900;
}
.nextPageText img {
  position: absolute;
  bottom: 5px;
  left: 200px;
  width: 10%;
  z-index: -1;
}
.prettyImages {
  display: flex;
  gap: 35px;
}

.prettyImg img {
  width: 100%;
}
.payDay {
  background: linear-gradient(
    1.32deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
}
.yellowTxt {
  flex-direction: column;
  margin-bottom: 10px;
}
.yellowTxt h1 {
  font-size: 65px;
  font-weight: 900;
}
.yellowTxt p {
  font-size: 22px;
  font-weight: 500;
}

.yellowImg img {
  flex: 0.5;
  display: flex;
  width: 600px;
  position: relative;
}

.genDiv {
  display: flex;
  align-items: center;
}
.btn1 {
  border: 0;
  background: #000;
  padding: 15px 25px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}
.btn:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
  color: #000;
  background: rgb(137, 136, 136);
}
.spn3 {
  display: flex;
  background-image: url(/Assets/rectangle1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
}
.nxtSect {
  margin-top: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}
.Images2 {
  display: flex;
}
.prettyImg2 {
  position: relative;
}
.prettyImg2 img {
  width: 70;
  height: 500px;
  margin-left: 70px;
}
.nextPageCont2 {
  margin-top: 20px;
  padding: 20px 40px;
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nextPageText2 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.nextPageText2 p {
  margin-bottom: 30px;
  color: #898a89;
}
.nextPageText2 h1 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 900;
}
.nextPageText2 img {
  width: 30%;
  cursor: pointer;
  display: flex;
}
.store {
  display: flex;
  justify-content: space-between;
}
.store a img {
  width: 140px;
  gap: 50px;
}
.circle1 {
  position: absolute;
  right: 350px;
  bottom: 500px;
}
.circle1 img {
  width: 15px;
  height: 15px;
  display: flex;
}
.circley {
  position: absolute;
  right: 0;
  bottom: 470px;
}
.circley img {
  width: 30px;
  height: 30px;
}
.circleye {
  position: absolute;
  right: 400px;
  bottom: 60px;
}
.circleye img {
  width: 17px;
  height: 17px;
}
.circle2 {
  position: absolute;
  right: 0;
  bottom: 100px;
}
.circle2 img {
  width: 10px;
  height: 10px;
}
.elipses {
  position: absolute;
}
.bigC {
  position: absolute;
  right: -12px;
  bottom: 100px;
  z-index: -1;
}
.bigC img {
  width: 300px;
  height: 300px;
  background: transparent;
}

.largeC {
  position: absolute;
  right: -41px;
  bottom: 70px;
  z-index: -1;
}
.largeC img {
  width: 360px;
  height: 360px;
  /* background: transparent; */
}
.largeC1 {
  position: absolute;
  right: -70px;
  bottom: 50px;
  z-index: -1;
}
.largeC1 img {
  width: 420px;
  height: 400px;
}
.footerDiv {
  background: #e5c643;
  padding-bottom: 170px;
}
.h1footer {
  color: #fff;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  font-weight: 1000;
}
.pFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.input {
  background: #fff;
  width: 40%;
  padding: 5px 0px;
  border-radius: 10px;
}
.input input {
  background: none;
  border: 0;
  padding: 13px 0px 13px 0px;
  width: 76%;
  font-size: 17px;
  outline: 0;
}
.input a {
  font-size: 20px;
  text-decoration: 0;
  color: #fff;
  background: #000;
  padding: 10px 30px;
  border-radius: 5px;
}
.input a:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
  color: #000;
  background: rgb(137, 136, 136);
}
.alert{
    border: 1px solid blue;
}